body {
    padding-top: 128px;
}
body > section {
    padding: 20px 0;
}
#title,
#bottom,
.mas-blue {
	background-color: #708C9C;
}
#title,
#bottom,
.mas-blue img {
       margin-bottom: 0;
}
#footer {
    background-color: #232324;
}
.mas-grey {
    background-color: #8F8F8F;
}
.mas-subtitle {
    font-weight: bold;
    text-transform: uppercase;
}
.mas-subsubtitle {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 0.8em;
    color: #8F8F8F;
}
.mas-grey {
	background-color: #8F8F8F;
}
.mas-black {
	background-color: #000000;
}
.mas-subtitle {
	font-weight: bold;
	text-transform: uppercase;
}
.mas-subsubtitle {
	font-weight: bold;
	text-transform: uppercase;
	font-size: 1em;
	color: #8F8F8F;
}
.mas-bigsub {
	font-weight: bold;
	text-transform: uppercase;
	font-size: 1.2em;
	color: #FFFFFF;
}
.navbar {
    min-height: 125px;
    margin-bottom: 3px;
}
.navbar .navbar-main {
	margin-top: 20px;
	margin-right: 0;
}
@media (min-width:1200px) {
    .navbar .navbar-main {
        margin-left:50px;
    }
}

@media screen {
       table#starPartiesPrintFormatting,
       #spPrintTableHeader {
               display: none;
       }
}

@media print { 
	.ai1ec-date-title .ai1ec-load-view,
    .post-edit-link,
    .ai1ec-date-title,
    .ai1ec-clearfix,
    p,
    .ai1ec-subscribe-container,
    #footer,
	.ai1ec-pull-right,
    h1,
    .breadcrumb,
    form,
    .ai1ec-event-toggle,
    section#title.emerald,
    #page,
    .wet-asphalt {
		display: none;
	}
	
	table#starPartiesPrintFormatting {
		margin: 0 auto;
		width: 70%;
	}
	table#starPartiesPrintFormatting td {
		border: 1px solid #A8A8A8;
		padding: 2px 0 2px 5px;
	}
	#spPrintTableHeader {
		font-size: 18px;
		color: #000000;
		text-align: center;
	}
}

.navbar .navbar-main > li {
	margin-left: 0;
}
.navbar .navbar-main > li > a {
    padding: 60px 8px 8px 8px;
}
.navbar .navbar-main > li.menu-item-112 > a {
    background: transparent url(assets/images/navicon_events.png) no-repeat center top;
}
.navbar .navbar-main > li.menu-item-113 > a {
    background: transparent url(assets/images/navicon_explore.png) no-repeat center top;
}
.navbar .navbar-main > li.menu-item-114 > a {
    background: transparent url(assets/images/navicon_members.png) no-repeat center top;
}
.navbar .navbar-main > li.menu-item-118 > a {
    background: transparent url(assets/images/navicon_facilities.png) no-repeat center top;
}
.navbar .navbar-main > li.menu-item-119 > a {
    background: transparent url(assets/images/navicon_about.png) no-repeat center top;
}
.navbar .navbar-main > li.menu-item-148 > a {
    background: transparent url(assets/images/navicon_affiliates.png) no-repeat center top;
}
.navbar .navbar-main > li > a:hover,
.navbar .navbar-main > li:hover > a {
    background-color: #4E626D;
}
.navbar .navbar-main > li.active > a {
    background-color: #36444C;
}
.navbar .navbar-main > li.active > a,
.navbar .navbar-main > li.open > a:hover,
.navbar .navbar-main > li.active:hover > a {
    background-color: #36444C;
}
.navbar .navbar-main .dropdown-menu > li {
    background-color: #4E626D;
}
.navbar .navbar-main .dropdown-menu > li > a {
    color: #FFFFFF;
}
.mas-banner-container {
    position: relative;
    float: right;
    width: 171px;
    height: auto;
}
.mas-banner {
    position: absolute;
    width: 100%;
    background-image: url(assets/images/back_ticker.png);
    text-align: center;
    color: white;
    font-weight: bold;
		background-size: contain;
}
.mas-banner > div {
    padding: 5px;
	padding-bottom: 0px;
}
.mas-banner > div.join {
    color: rgb(113, 140, 155);
    height: 52px;
    background-image: url(assets/images/join_banner.png);
    font-size: 30px;
    padding-top: 0px;
		background-size: contain;
		width: 102%;
		margin-left: -1px;
		margin-top: 20px;
}
.mas-banner > div.join a:link,
.mas-banner > div.join a:active,
.mas-banner > div.join a:visited,
.mas-banner > div.join a:hover {
    color: #708C9C;
}
.mas-banner > div.give {
    height: 48px;
    font-size: 30px;
    line-height: 30px;
}
.mas-banner > div.give a:link,
.mas-banner > div.give a:active,
.mas-banner > div.give a:visited,
.mas-banner > div.give a:hover {
    color: #FFFFFF;
}

.checkThisEvent {
    max-width: 200px;
    margin: auto;
}

.ai1ec-dropdown-toggle img,
.ai1ec-load-view img {
    display: inline;
}

.mas-banner .checkThisEvent h3 {
	font-size: 14pt;
	margin: 8px 0 13px;
}
.mas-banner .checkThisEvent .ai1ec-date {
	border: 0 solid transparent;
	background: transparent;
}
.mas-banner .checkThisEvent .ai1ec-date-title {
	border: 0 solid transparent;
	border-radius: 0;
	background: transparent;
	float: none;
	margin: 0;
	box-shadow: none;
	font-weight: normal !important;
}
.mas-banner .checkThisEvent .ai1ec-month,
.mas-banner .checkThisEvent .ai1ec-day {
	display: inline;
	padding: 0;
	letter-spacing: 0;
	border: 0 solid transparent;
	border-radius: 0;
	background: transparent;
	text-transform: none;
	text-shadow: none;
	font-size: 100%;
	color: #FFFFFF;
}
.mas-banner .checkThisEvent .ai1ec-weekday,
.checkThisEvent .ai1ec-event-time {
	display: none;
}
.mas-banner .checkThisEvent .ai1ec-date-events {
	padding: 0;
	margin: 0;
}
.mas-banner .checkThisEvent .ai1ec-event {
	padding: 0;
	margin: 0;
}
.mas-banner .checkThisEvent .ai1ec-event > a {
	border: 0;
	background: transparent;
}
.mas-banner .checkThisEvent .ai1ec-event > a:link,
.mas-banner .checkThisEvent .ai1ec-event > a:active,
.mas-banner .checkThisEvent .ai1ec-event > a:visited,
.mas-banner .checkThisEvent .ai1ec-event > a:hover {
	color:#FFFFFF;
}
.mas-social-container {
    float: right;
    width: 70px;
}
.mas-social {
    margin: 20px 0 0 20px;
}
.mas-social > div {
    margin-bottom: 20px;
    clear: both;
}
.mas-social img {
    display: inline;
    margin-right: 5px;
    vertical-align: baseline;
}
.mas-social a:link,
.mas-social a:active,
.mas-social a:visited,
.mas-social a:hover {
    color: #708C9C;
}
.mas-social-front {
    margin-top: 20px;
}
.mas-social-front > div {
    margin-bottom: 20px;
    clear: both;
}
.mas-social-front img {
    display: inline;
    margin-right: 5px;
    vertical-align: baseline;
}
.mas-social-front a:link,
.mas-social-front a:active,
.mas-social-front a:visited,
.mas-social-front a:hover {
    color: #FFFFFF;
}
.mas-merch span {
    margin-right: 5px;
    padding-top: 50px;
}
.mas-merch img {
    display: inline;
    vertical-align: middle;
}
.mas-merch a:link,
.mas-merch a:active,
.mas-merch a:visited,
.mas-merch a:hover {
    color: #FFFFFF;
}
.mas-social-front {
	margin-top: 20px;
}
.mas-social-front > div {
	margin-bottom: 20px;
	clear: both;
}
.mas-social-front img {
	display: inline;
	margin-right: 5px;
	vertical-align: baseline;
}
.mas-social-front a:link,
.mas-social-front a:active,
.mas-social-front a:visited,
.mas-social-front a:hover {
	color: #FFFFFF;
}
.mas-merch span {
	margin-right: 5px;
	padding-top: 50px;
}
.mas-merch img {
	display: inline;
	vertical-align: middle;
}
.mas-merch a:link,
.mas-merch a:active,
.mas-merch a:visited,
.mas-merch a:hover {
	color: #FFFFFF;
}
.btn-danger {
    background-color: #36444C;
    border-color: #36444C;
}
.checkThisEvent * {
    color: #ffffff!important;
    background: transparent!important;
    border: 0!important;
}

.checkThisEvent .widget-title {
    margin: 10px 0;
}

.checkThisEvent .ai1ec-date {
    background: transparent;
    border: 0;
}

.checkThisEvent .ai1ec-date-title {
    display: block;
    border: 0;
    background: transparent;
    border-radius: 0;
    box-shadow: 0 0 0 0;
    float: none;
    width: auto;
}

.checkThisEvent .ai1ec-month,
.checkThisEvent .ai1ec-day {
    margin: 0;
    padding: 0;
    display: inline-block;
    font-size: 115%;
    font-weight: bold;
    text-shadow: none;
}

.checkThisEvent .ai1ec-event {
    margin: auto;
    clear: none;
}

.checkThisEvent .ai1ec-allday-badge,
.checkThisEvent .ai1ec-weekday {
    display: none;
}
.meetingCol {
	padding: 8px;
}
.biglink,
.biglink:link,
.biglink:active,
.biglink:visited,
.biglink:hover {
    font-size: 16px;
    color: #FFFFFF;
    font-weight: bold;
}
.wpcf7 p {
    font-size:14px;
}
.wpcf7 input[type=text] {
    width: 100%;
}
.observatoryMap {
    float: right;
    padding: 0 0 15px 10px;
}
.sub_nav a {
color: white;
font-weight: normal;
font-size: 120%;
margin-right: 20px;
}
.upcoming_events {
position: absolute;
top: 10px;
left: 50%;
z-index: 1;
margin-left: 325px;
background: rgba(255,255,255,0.7);
padding: 10px;
box-sizing: border-box;
width: 240px;
}
.upcoming_events .title {
color: black;
font-size: 14pt;
font-weight: normal;
}
